.main{
  background-color: black;
}

*{
  margin: 0;
  padding: 0;
}

.data{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  color: antiquewhite;
  
}
.moviecard{
  height: 100%;
  width: 405px;
  padding: 2rem 20px;
}
.moviecard img{
  width: 100%;
  height: 200px;

}
.moviecard p{
  padding-top:20px;
  font-weight: bold;
  font-size: 18px;
}
h2{
  text-align: center;
}

h1{
  text-align: center;

}
.header{
  width: 100%;
  position: fixed;
  background-color: black;
  color:white;
  top:0px
  
}

